<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muhammad Esa Yusriana</title>
</head>
<body>
    <div id="app">
        <button onclick="vm.openForm()">Open Form</button>
        <button onclick="vm.reset()">Reset</button>
        <h1>{{ 'Nilai a : ' + a }}</h1>
        <h1>{{ 'Rata-rata : ' + avg.toFixed(2) }}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                a: 0,
                avg: 0,
                count : 1
            },
            methods: {
                openForm : function() {
                    this.a += parseInt(prompt('Masukan nilai a = '))
                    if (this.a < 10) {
                        this.count += 1
                        this.openForm()
                    } else {
                        this.avg = this.a / this.count
                    }
                },
                reset : function() {
                    this.a = 0
                    this.avg = 0
                    this.count = 1
                }
            }
        })
    </script>
</body>
</html>