body {
    background-color: bisque;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
p {
    margin: 0;
}
.card {
    position: relative;
    min-width: 0;
    min-height: 15rem;
    word-wrap: break-word;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 1rem;
}
.card-header {
    padding: .5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-body {
    padding: 1rem;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col {
    flex: 1 0 0%;
    margin-left: 1rem;
    margin-right: 1rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
.h5, h5 {
    font-size: 1.25rem;
}
.mt-5 {
    margin-top: 3rem !important;
}
.pl-3 {
    padding-left: 1rem !important;
}