<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JCC Vue Tugas 12 - Muhammad Esa Yusriana</title>
    <style>
        textarea {
            resize: none;
        }
        input[type=submit], input[type=button] {
            padding: 0.5em 1em;
            margin: 0.5em;
        }
        button {
            margin: 0.5em;
        }
        td {
            padding: 0.5em;
        }
        .row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .box {
            background-color: #EDEDED;
            border-radius: 5px;
            padding: 1rem;
        }
        .box-form {
            width: 30%;
        }
        .box-data {
            width: 63%;
        }
        .text-center {
            text-align: center;
        }
        .float-right {
            float: right;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="row">
            <div class="box box-form">
                <h2 class="text-center">Form Member</h2>
                <form>
                    <div v-if="errors.length" class="alert">
                        <strong>Perigatan : </strong>
                        <ul>
                            <li v-for="error in errors">{{ error }}</li>
                        </ul>
                    </div>
                    <table>
                        <tr>
                            <td><label for="name">Nama: </label></td>
                            <td><input v-model="form.name" type="text" name="name" id="name" placeholder="Nama" autocomplete="off" :disabled="openUpload"></td>
                        </tr>
                        <tr>
                            <td><label for="address">Alamat: </label></td>
                            <td><textarea v-model="form.address" name="address" id="address" cols="30" rows="5" placeholder="Alamat" autocomplete="off" :disabled="openUpload"></textarea></td>
                        </tr>
                        <tr>
                            <td><label for="no_hp">Nomor Telepon: </label></td>
                            <td><input v-model="form.no_hp" type="tel" name="no_hp" id="no_hp" placeholder="Nomor Telepon" autocomplete="off" :disabled="openUpload"></td>
                        </tr>
                        <tr v-if="openUpload">
                            <td><label for="photo_profile">Foto Profil: </label></td>
                            <td><input type="file" name="photo_profile" id="photo_profile" ref="photo"></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button v-if="openEdit" type="button" class="float-right" @click="update">Update</button>
                                <button v-if="openEdit" type="button" class="float-right" @click="cancel">Cancel</button>
                                <button v-if="!openEdit && !openUpload" type="button" class="float-right" @click="store">Submit</button>
                                <button v-if="openUpload" type="button" class="float-right" @click="updatePhoto">Upload</button>
                                <button v-if="openUpload" type="button" class="float-right" @click="cancel">Cancel Upload</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="box box-data">
                <h2 class="text-center">Data Member</h2>
                <table border="1">
                    <tr v-for="member of members">
                        <td><img width="100" :src="member.photo_profile ? photoDomain + member.photo_profile : 'https://dummyimage.com/16:9x1080'" alt=""></td>
                        <td>{{ member.name }}</td>
                        <td>{{ member.address }}</td>
                        <td>{{ member.no_hp }}</td>
                        <td>
                            <div class="row">
                                <button @click="edit(member)">Edit</button>
                                <button @click="destroy(member)">Delete</button>
                                <button @click="uploadPhoto(member)">Upload Foto</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                form: {
                    id: '',
                    name: '',
                    no_hp: '',
                    address: '',
                    photo_profile: ''
                },
                photoDomain: 'http://demo-api-vue.sanbercloud.com/',
                openUpload: false,
                openEdit: false,
                errors: [],
                members: []
            },
            methods: {
                fetch() {
                    axios.get('http://demo-api-vue.sanbercloud.com/api/member')
                        .then(response => {
                            this.members = response.data.members
                        })
                        .catch(response => {
                            console.log(response)
                        })
                },
                store(){
                    axios.post('http://demo-api-vue.sanbercloud.com/api/member', this.form)
                        .then(response => {
                            this.fetch()
                            alert(`Data ${this.form.name} berhasil disimpan`)
                            this.resetForm()
                        })
                        .catch(response => {
                            console.log(response)
                        })
                },
                edit(member){
                    this.form = JSON.parse(JSON.stringify(member))
                    this.openEdit = true
                },
                update(){
                    axios.post(`http://demo-api-vue.sanbercloud.com/api/member/${this.form.id}?_method=PUT`, this.form)
                            .then(response => {
                                this.fetch()
                                alert(`Data ${this.form.name} berhasil diupdate`)
                                this.resetForm()
                            })
                            .catch(response => {
                                console.log(response)
                            })
                },
                cancel(){
                    this.resetForm()
                },
                destroy(member){
                    confirm('Anda yakin ingin menghapus data ini ?') ? 
                        axios.post(`http://demo-api-vue.sanbercloud.com/api/member/${member.id}?_method=DELETE`)
                            .then(response => {
                                this.fetch()
                                alert(`Data ${member.name} berhasil dihapus`)
                                this.resetForm()
                            })
                            .catch(response => {
                                console.log(response)
                            })
                    : false
                },
                uploadPhoto(member){
                    this.openUpload = true
                    this.form = JSON.parse(JSON.stringify(member))
                },
                updatePhoto(){
                    let formData = new FormData()
                    formData.append('photo_profile', this.$refs.photo.files[0])
                    
                    axios.post(`http://demo-api-vue.sanbercloud.com/api/member/${this.form.id}/upload-photo-profile`, formData)
                            .then(response => {
                                this.fetch()
                                alert(`Foto profil user ${this.form.name} berhasil diupdate`)
                                this.resetForm()
                            })
                            .catch(response => {
                                console.log(response)
                            })
                },
                resetForm(){
                    this.form.name = ''
                    this.form.address = ''
                    this.form.no_hp = ''
                    this.form.photo_profile = ''
                    this.errors = []
                    this.openEdit = false
                    this.openUpload = false
                }
            },
            mounted(){
                this.fetch()
            }
        })
    </script>
</body>
</html>