<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muhammad Esa Yusriana - Quiz 2</title>
</head>
<body>
    <div id="app">
        <input v-model="name" type="text" placeholder="Add">
        <button v-if="!isEditing" @click="add">Add</button>
        <button v-else @click="update()">Update</button>
        <br>
        <ul>
            <div v-for="(user, index) in users">
                <li>
                    {{ user.name }} &nbsp; <button @click="edit(index)"> Edit </button> || <button @click="destroy(index)"> Delete </button>
                </li>
            </div>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                name: '',
                editing: '',
                users: [
                    {
                        'name' : 'Muhammad Iqbal Mubarok'
                    },
                    {
                        'name' : 'Ruby Purwanti'
                    },
                    {
                        'name' : 'Faqih Muhammad'
                    },
                ],
                isEditing: false,
            },
            methods: {
                add() {
                    this.users.push({
                        'name' : this.name
                    });
                    this.name = '';
                },
                edit(index) {
                    this.name = this.users[index].name;
                    this.editing = this.name;
                    this.isEditing = true;
                },
                update() {
                    this.users[this.users.indexOf(this.users.find(user => user.name === this.editing))].name = this.name;
                    this.name = '';
                    this.editing = '';
                    this.isEditing = false;
                },
                destroy(index) {
                    confirm('Anda yakin akan menghapus data ini?') ? this.users.splice(index, 1) : false;
                }
            }
        })
    </script>
</body>
</html>