<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muhammad Esa Yusriana</title>
</head>

<body>
    <div id="app">
        <input v-model="search" type="text" placeholder="Cari">
        <br>
        <ul>
            <div v-for="book in books.filter(item => item.toLowerCase().includes(search.toLowerCase()))">
                <li>{{ book }}</li>
            </div>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                search: '',
                books: [
                    'Kalkulus Dasar',
                    'Fisika Dasar',
                    'Aljabar Linier Elementer',
                    'Aljabar Abstrak',
                    'Algoritma Pemrograman',
                ],
            },
            methods: {}
        })
    </script>
</body>
</html>